<div class="jumbotron" id="post-top">
    <h1><%- page.title %></h1>
    <h4 class="text-muted"><%- page.subtitle %></h4>
    <p class="date">
        <%= date(page.date, config.date_format) %>
        <button id="show-post-info-btn" class="btn btn-primary btn-md"  data-toggle="modal" data-target="#page-info-modal">Post details</button>
    </p>
</div>
<%- page.content %>
<div id="page-info">
    <p id="tags"><span class="badge badge-secondary">Tags: </span>
        <% if (page.tags && page.tags.length) { %>
        <%- list_tags(page.tags, {
            show_count: false,
            class: "page-tag",
            style: "none",
            seperator: ","
        }) %>
        <% } %>
    </p>
    <p id="categories"><span class="badge badge-secondary">Categories: </span>
        <% if (page.categories && page.categories.length) { %>
        <%- list_categories(page.categories, {
            show_count: false,
            class: "page-category",
            style: "none",
            seperator: ","
        }) %>
        <% } %>
    </p>
</div>
<%- partial("partials/modal.ejs") %>